.icon {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid $primary-darker;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;

  path {
    fill: $primary-darker;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  }

  &:hover {

    border: 2px solid darken($color: $primary, $amount: 10%);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    path {
      fill: darken($color: $primary, $amount: 10%);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    }
  }

  &.instagram {
    svg {
      width: 15px;
      height: 17px;
    }
  }

  &.youtube {
    svg {
      width: 16px;
      height: 15px;
    }
  }

  &.facebook {


    svg {
      width: 9px;
      height: 15px;
    }
  }

  &.icon-lighter {
    border-color: $secondary;

    path {
      fill: $secondary;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      path {
        fill: $secondary;
      }

      border: 2px solid $primary;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 2px;
}