$primary: #19a3a6;
$primary-lighter: #edf3f4;
$primary-darker: #0b4051;

$secondary: #fff;
$secondary-darker: #77797a;
$secondary-lightest: #ededed;
$secondary-light: #dadada;
$secondary-light-one: #ccc;
$secondary-light-two: #999;
$secondary-dark-one: #666;

$tertiary: #a1a1a1;
$tertiary-lighter: #f1f2f3;
$tertiary-darker: #031f2f;

// Common colors
$link: #007faf;

